.container {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 500px;
}

.up-container {
  display: flex;
  justify-content: flex-end;
}

.signup-button, .signin-button, .viewCourses-button {
  background-color: orange;
  color: white;
  border: 1px solid black;
  padding: 5px 10px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 10px 10px;
  cursor: pointer;
  text-decoration: none;
}
