.header {
  display: flex;
  justify-content: space-between;
  flex: 1fr 1fr;
  margin: 0 100px;
}
.header .logo-img {
  max-height: 17px;
  vertical-align: middle;
  position: relative;
  margin-top: 18px;
}
.header-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.photo-container {
  align-content: center;
}
.photo-img {
  width: 900px;
}
.header-links-sections {
  padding: 10px 20px;
}
